# Jira https configuration
server {

    listen 443;
    server_name jira.jayex.net;

    ssl_certificate           /etc/nginx/certificate/77e18e72353f3b4a.crt;
    ssl_certificate_key       /etc/nginx/certificate/jayex.key;

    ssl on;
    ssl_session_cache  builtin:1000  shared:SSL:10m;
    ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!eNULL:!EXPORT:!CAMELLIA:!DES:!MD5:!PSK:!RC4;
    ssl_prefer_server_ciphers on;

    access_log            /var/log/nginx/jira.access.log;

    location / {

      proxy_set_header        Host $host;
      proxy_set_header        X-Real-IP $remote_addr;
      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header        X-Forwarded-Proto $scheme;
      client_max_body_size 100m;

      # Fix the “It appears that your reverse proxy set up is broken" error.
      proxy_pass          http://185.26.148.67:8080;
    }
  }

#Bitbucket HTTPS configuration
server {

    listen 443;
    server_name bit.jayex.net;

    ssl_certificate           /etc/nginx/certificate/77e18e72353f3b4a.crt;
    ssl_certificate_key       /etc/nginx/certificate/jayex.key;

    ssl on;
    ssl_session_cache  builtin:1000  shared:SSL:10m;
    ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;

    access_log            /var/log/nginx/bit.access.log;

    location / {

      proxy_set_header        Host $host;
      proxy_set_header        X-Real-IP $remote_addr;
      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header        X-Forwarded-Proto $scheme;
      client_max_body_size 100m;

      # Fix the “It appears that your reverse proxy set up is broken" error.
      proxy_pass          http://185.26.148.67:7990;
    }
  }

#Confluence HTTPS configuration

server {

    listen 443;
    server_name confluence.jayex.net;

    ssl_certificate           /etc/nginx/certificate/77e18e72353f3b4a.crt;
    ssl_certificate_key       /etc/nginx/certificate/jayex.key;

    ssl on;
    ssl_session_cache  builtin:1000  shared:SSL:10m;
    ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;

    access_log            /var/log/nginx/bit.access.log;

    location / {

      proxy_set_header        Host $host;
      proxy_set_header        X-Real-IP $remote_addr;
      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header        X-Forwarded-Proto $scheme;
      client_max_body_size 100m;

      # Fix the “It appears that your reverse proxy set up is broken" error.
      proxy_pass          http://185.26.148.67:8090;
    }

    location /synchrony {
       proxy_set_header X-Forwarded-Host $host;
       proxy_set_header X-Forwarded-Server $host;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
       proxy_pass http://185.26.148.67:8091/synchrony;
       proxy_http_version 1.1;
       proxy_set_header Upgrade $http_upgrade;
       proxy_set_header Connection "Upgrade";
    }

  }
